.container{
    background-image: url("../images/hamburger3edited.jpg");
    background-size: cover;
    background-position: center;
    height: 960px;
    width: 960px;
}

li{
    font-size: 40px;
    padding: 5px;
    margin: 5px;
    border: solid 2px lightslategray;
    background-color: azure;
}

.delete-burger{
  
    
}

.change-burger{

}